# Ignore everything
*

runs/
*.pkl
*.pth
*.wts
*.ckpt
*.hyp 


# But do not ignore .gitignore and other root files
!.gitignore
!/*



# Explicitly allow files in specified directories (non-recursive)
